table {
    width: 70%;
    height: 100%;
    margin-top: -5%;
    margin-left: 50px;
}

td {
    height: 100px;
}

section { 
    height: 150px;
    width: 150px;
    border: solid yellow 0px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px; 
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}


h3 {
    font-size: x-large;
    font-weight: 1000;
    font-family: sans-serif;
}

ol {
    margin-right: -30px;
}

li {
    font-size: large;
    font-family: sans-serif;
}

img {
    margin-top: 48px;
    margin-left: -110px;
    margin-bottom: 30px;
    width: 286px;
    height: 201px
}

#canned {
    border: solid grey 0.5px;
    background-color:lemonchiffon;
    padding-right: 90px;
    padding-left: 45px;
    padding-bottom: 50px;
    margin-top: 15px;
    margin-right: -75px;
}

#dry {  
    background-color:paleturquoise;
    border: solid grey 0.5px;
    padding-right: 90px;
    padding-left: 45px;
    padding-bottom: 50px;
    margin-top: 15px;
}

#veg {
    background-color:lemonchiffon;
    border: solid grey 0.5px;
    padding-right: 90px;
    padding-left: 45px;
    padding-bottom: 50px;
    margin-top: 15px;
    margin-right: -75px;
  
}   

#snacks {
    background-color: paleturquoise;
    border: solid grey 0.5px;
    padding-right: 90px;
    padding-left: 45px;
    padding-bottom: 50px;
    margin-top: 15px;
}





